[Unit]
Description=WireGuard daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root

WorkingDirectory=/opt/wg/
ExecStart=/usr/bin/python3 /opt/wg/wg.py

[Install]
WantedBy=multi-user.target